<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shomf.mcbb.locactor.locactor">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--.àü.«..¿ï..Åµëô..Ç..æ..£.ÑùµÄÑ.¡ù-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--.àü.«..¿ï..Å.«...«.åà..«sd.ìí.Üä.åÖµ¥â.ÖÉ-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--.àü.«..¿ï..Å.Ä..Åû..æ..£.è.µÇü-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--.àü.«..¿ï..Å.«..ù«WiFi..æ..£..íµü»-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--.àü.«..¿ï..Å.»..åÖµëïµ£..è.µÇü.Æî..½...-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--.àü.«..¿ï..Å.«..ù«CellIDµêûWiFi.â¡.é.µ¥Ñ.Ä..Åû..ù.òÑ.Üä..ì..«-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.amap.api.v2.apikey" android:value="93b7c80a0dc9802238856e3a63fc913d">//..Ç.Åæ.Çà.ö..»..Üäkey
        </meta-data>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MockLocationService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".WheelService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".MiniMapService"
            android:enabled="true"
            android:exported="true"></service>

    </application>


</manifest>
